fastapi
uvicorn[standard]
sqlalchemy
pydantic
pandas
scikit-learn
torch
joblib
python-multipart
python-dotenv
requests
yfinance
langchain
langchain_google_genai
langchain-huggingface
langchain-chroma
sentence-transformers
langchain-text-splitters
sentence-transformers
chromadb
sec-edgar-downloader
sec_api
glob2
unstructured


